.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 90px;

  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.number {
  font-size: 26px;
  font-weight: 700;
  color: #111827;
}

.kpiInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 13px;
  color: #6b7280;
}

.btn {
  border: none;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  width: fit-content;
}

/* colores botones */

.btnInicio {
  background: #14b8a6;
  color: white;
}

.btnDoc {
  background: #7c3aed;
  color: white;
}

.btnMedica {
  background: #3b82f6;
  color: white;
}

.btnJuridica {
  background: #ec4899;
  color: white;
}
